# Managed by Ansible (roles/homepage/templates/widgets.yaml.j2).

- datetime:
    text_size: xl
    locale: en
    format:
      timeStyle: short
      dateStyle: long

- search:
    provider: duckduckgo
    target: _blank
